<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ReqRes API Test Suite" verbose="1">

    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <test name="GET User Tests">
        <classes>
            <class name="tests.GetUserTest"/>
        </classes>
    </test>

    <test name="Create User Tests">
        <classes>
            <class name="tests.CreateUserTest"/>
        </classes>
    </test>

    <test name="Update User Tests">
        <classes>
            <class name="tests.UpdateUserTest"/>
        </classes>
    </test>

    <test name="Delete User Tests">
        <classes>
            <class name="tests.DeleteUserTest"/>
        </classes>
    </test>

    <test name="Negative Tests">
        <classes>
            <class name="tests.NegativeApiTest"/>
        </classes>
    </test>

</suite>
